*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
font-family: 'Ubuntu', sans-serif;
}
body{
 display: flex;
 align-items: center;
 justify-content: center;
 height: 100vh;
 background-image: -moz-linear-gradient(red,yellow);

}
.container{
 display: flex;
  align-items: center;
 justify-content: center;
 flex-direction: column;
 flex-wrap: wrap;
 height: 100%;
}
.header{
 padding: 2rem

}
.main-content{
 width: 300px;
 height: auto;
}
.person{
 margin:1.5rem;
}
#btn{
 margin: 1.5rem;
 padding: 2%;
}